@import "@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: "Circular-Std", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(3, 9, 41, 1);
}

* {
  box-sizing: border-box;
}